.bar {
    border: 1px solid black; 
    width: 100px;
    height: 50vh;
    /* background-color: rgb(80, 240, 80); */
}

.filler {
    width: 100%;
    background-color: white; 
}

.barNumber {
    margin: 0px;
    height: 16.6666666667;
}

.bg-test {
    height: 100%;
}